$main-color: rgba(50, 50, 100, 0.95);
$main-alt: #46466E;
$main-soft: #686887;
$accent: #F0145A;
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$gray-bg: #F5F5FA;
$gray-bg-alt: #EDEDF7;
$gray-text: #B3B3BA;
$gray-separator: #E6E6F0;
$gray: rgba(255, 255, 255, 0.20);
$gradient-regular: linear-gradient(135deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(23deg, #323264 0%, #323264 50.63%, #7A425E 100%);
$gradient-red: linear-gradient(310deg, #F0145A 0%, #693264 100%);
$gradient-supersoft: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);
$gradient-red-text: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
$gradient-text-red-reversed: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
$basic-white: #ffffff;
$basic-black: #000;


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  text-decoration: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

html {
  scroll-behavior: smooth;
}

button, a[href] {
  cursor: pointer;
}

button, a[href] {
  cursor: pointer;
}

body {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (min-width: 1025px) {
    padding: 0 60px;
  }
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: $gradient-text-red-reversed;
}

.gradient-red-text {
  background: $gradient-red-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  word-break: break-word;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
}

.big {
  color: $main-color;
  font-size: 20px;
  font-weight: 400;
  margin-top: 60px;
  @media screen and (min-width: 1025px) {
    font-size: 36px;
    margin-top: 0;
  }
}

h2 {
  font-size: 20px;
  font-weight: 700;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

.caps {
  color: $active-regular;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.small {
  color: $gray-text;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small-btn {
  background: transparent;
  width: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 25px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: $gray;
  }

  &.active {
    background: $accent;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1;
  @media screen and (min-width: 1025px) {
    top: 50px;
  }

  .flex.wrapper input[type='checkbox'] {
    display: none;
  }

  .size {
    font-size: 16px;
    font-weight: 400;
  }

  .flex1 {
    .small-svg {
      display: none;
      @media screen and (min-width: 1025px) {
        width: 6px;
        height: 6px;
        display: inline-block;
      }
    }
  }

  .flex1 li:not(.contacts-phone) {
    display: none;
    @media screen and (min-width: 1025px) {
      display: contents;
    }
  }

  .contacts-phone {
    list-style-type: none;
    margin-right: 15px;
    @media screen and (min-width: 1025px) {
      margin-right: 0;
      display: contents;
    }
  }

  .btn {
    width: 30px;
    background: transparent;
    height: 32px;
    position: relative;
    top: 25px;
    border-radius: 8px;
    cursor: pointer;
    @media screen and (min-width: 1025px) {
      display: none;
    }

    &:hover {
      background-color: $gray;
    }
  }

  .header-flex_mobile {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(50, 50, 100, 0.64);
    -webkit-transform: translate(150%);
    -ms-transform: translate(150%);
    transform: translate(150%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 24px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    text-align: center;
    z-index: 1;
    padding: 8px 8px 0;

    .hamburger-lines.open {
      bottom: 320px;
      width: 32px;
      height: 24px;
      right: 12px;
      color: #323264;

      .lines1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .lines2 {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
      }

      .lines3 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    @media screen and (min-width: 1025px) {
      display: none;
    }

    .background {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      height: 359px;
      padding: 0 12px;
      background: $basic-white;
      border-radius: 12px 12px 0 0;
    }

    a {
      display: block;
      margin-right: 0;
      margin-bottom: 15px;
      padding: 7px;
      width: 100%;
      border-radius: 12px;
      background-color: $gray-bg;
      color: $active-regular;
    }

    a:hover {
      color: $accent;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }

    a.active {
      background: $gray-separator;
    }
  }

  .hamburger-lines {
    width: 18px;
    height: 15px;
    position: absolute;
    right: 7px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 4px;
    margin-top: 10px;
    background: transparent;
    @media screen and (min-width: 1025px) {
      display: none;
    }

    .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: $basic-white;
    }

    .lines {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #EC6F5D;
    }

    .lines1 {
      -webkit-transform-origin: 0 -4px;
      -ms-transform-origin: 0 -4px;
      transform-origin: 0 -4px;
      -webkit-transition: -webkit-transform 0.4s ease-in-out;
      transition: -webkit-transform 0.4s ease-in-out;
      -o-transition: transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    }

    .lines2 {
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      transition: -webkit-transform 0.2s ease-in-out;
      -o-transition: transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    }

    .lines3 {
      -webkit-transform-origin: 0 6px;
      -ms-transform-origin: 0 6px;
      transform-origin: 0 6px;
      -webkit-transition: -webkit-transform 0.4s ease-in-out;
      transition: -webkit-transform 0.4s ease-in-out;
      -o-transition: transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    }
  }

  .flex.wrapper input[type="checkbox"]:checked ~ .header-flex_mobile {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .flex.wrapper input[type="checkbox"]:checked ~ .hamburger-lines {

    .line1, .line2, .line3 {
      transform: scale(0);
    }

    .lines1 {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .lines2 {
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
    }

    .lines3 {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

  }

  .flex.wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: 1025px) {
      padding: 0 60px;
    }
  }

  svg {
    min-width: 10px;
    width: 69px;
    height: 32px;
    margin-top: 60px;
    @media screen and (min-width: 1025px) {
      width: 130px;
      height: 60px;
      margin-top: 0;
    }
  }

  .first-row {
    position: absolute;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(245, 245, 250, 0.20);
    overflow: hidden;
    @media screen and (min-width: 1025px) {
      position: inherit;
      background: none;
    }
  }

  .flex-button {
    padding: 10px 15px;
    @media screen and (min-width: 1025px) {
      padding: 0;
      margin-right: 4px;
    }
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 17px;

    a {
      display: none;
      @media screen and (min-width: 1025px) {
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        &:hover {
          color: $accent;
          border-bottom: 2px solid $accent;
        }
      }
    }
  }

  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    svg {
      @media screen and (min-width: 1025px) {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        color: white;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}

footer {
  background: $gray-bg;
  margin: 0 auto;
}

.footer-border {
  max-width: 1320px;
  border-top: 2px solid $gray-separator;
  padding-top: 31px;
  padding-bottom: 30px;
}

.flex2 {
  display: -ms-grid;
  display: grid;
  gap: 10px;

  @media(min-width: 769px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p {
      color: $main-color;
    }
    .footer-tel {
      color: $main-alt;
    }
  }

  .size {
    font-size: 16px;
    font-weight: 400;
  }

  svg {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: $active-regular;
  }

  svg:hover {
    color: $accent;
  }

}

.flex2 svg:not(.footer-facebook) {
  display: none;
  @media(min-width: 769px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  display: block;
  text-align: center;
  overflow: hidden;
  @media(min-width: 769px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.footer-flex {
  display: -ms-grid;
  display: grid;
  gap: 17px;
  @media(min-width: 769px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.footer-map {
  color: $active-regular;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-cont {
  color: $active-regular;;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    color: $accent;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
}

.flex-company {
  padding-top: 25px;
  display: flow;
  color: $gray-text;
  @media(min-width: 769px) {
    padding-top: 0;
  }
}